.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

table{
   margin: 0px auto; 
}


.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.prevDate{
  color:rgb(209, 209, 209);
}

.currentDate{
  color:rgb(109, 109, 109);
}

.nextDate{
  color:rgb(206, 205, 205);
}

.defaultDate {
  border: 1px solid blue;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
